.delete {
  margin-right: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 14px;
  background-color: rgba(218, 65, 65, 0.719);
}
.body {
  margin-top: 5%;
  height: 75vh;
  margin-left: 25%;
  padding: 20px;
  width: 40%;
  color: rgb(14, 87, 151);
  background-color: rgba(20, 172, 203, 0.416);
  margin-right: 42%;
  border: 2px rgb(10, 10, 11) solid;
  border-radius: 15px;
  box-shadow: -6px 7px 37px 23px rgba(18, 16, 16, 0.77);
  -webkit-box-shadow: -6px 7px 37px 23px rgba(18, 16, 16, 0.77);
  -moz-box-shadow: -6px 7px 37px 23px rgba(18, 16, 16, 0.77);
}
li {
  display: flex;
  justify-content: space-between;
}
.input {
  margin-left: 35px;
}
li::before {
  content: "";
}
li > p {
  display: flex;
  font-size: 25px;
  margin-left: -45%;
  justify-content: flex-start;
}
span {
  margin-left: -120px;
  margin-right: 8px;
  color: rgba(12, 12, 199, 0.805);
}.delete{
    height: 50px;
}


@media (max-width: 1000px) {
  .body {
    margin: 100px 0 0 50px;
    width: 80%;
    min-height: 75vh;
  }
  .delete {
    height: 50px;
  }
  .body ul li p {
    font-size: 30px;
    margin-left: -240px;
  } 
}
@media (max-width: 700px) {
  .body {
    margin: 20px 0 0 20px;
    width: 80%;
    min-height: 75vh;
  }
  .delete {
    height: 20px;
    margin-top: 0px;
  }
  .body ul li p {
    font-size: 15px;
    margin: 3px 0 ;
  }lord-icon{
    height: 10px;
    width: 10px;
  }
 
}
